<head>
	<style>
		.okeXXX{
			fill: 'red';
		}
	</style>
</head>
<body>
	<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/8.1.0/highcharts.min.js"></script>

	<script src="./crosshair.js"></script>
</body>
